.posicion{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card{  
  background-image:linear-gradient(rgb(95, 95, 95),black);
  color :rgb(255, 255, 255);
  opacity: .8;
  width: 250px;
  margin: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: solid rgb(129, 127, 127) 3px;
}

.button{
  align-self: flex-end;
  background-color:red;
  color:white;
  margin: 10px;
}

.button:hover{
  background-color: black;
}
.white{
  color:white
}

.min{
  display: flex;
justify-content: space-around;
}